<mat-spinner *ngIf="loading"></mat-spinner>

<span *ngIf="!boards.length" class="mat-typography">Currently you do not have access to any board</span>

<mat-card>
  <mat-card-title>Boards</mat-card-title>
  <mat-card-subtitle>to which you have access</mat-card-subtitle>

  <hr/>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let board of boards" routerLink="/board/{{board.id}}"> {{ board.name }}</mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="openNewBoardModal()">New</button>
  </mat-card-actions>
</mat-card>

